process {
    executor = 'awsbatch'
    queue = 'genomic-nextflow-queue'
    container = 'quay.io/biocontainers/python:3.9--1'
}

aws {
    batch {
        // NOTE: this setting is only required if the AWS CLI is installed in a custom AMI
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    region = 'us-east-1'
    accessKey = "$AWS_ACCESS_KEY_ID"
    secretKey = "$AWS_SECRET_ACCESS_KEY"
}

